<div class="py-8 lg:mx-48">
    <h2 class="text-6xl font-bold">応募方法</h2>
    <hr />
    <div class="py-6">
    careers@ksquad.jp にメールをお送りください。
    <br />
    もしくはツイッターにて
    <a href="https://twitter.com/komi_edtr_1230" class="inline-block text-blue-400">
        @komi_edtr_1230
    </a>
    宛にDMをお送りください。
    <br />
    応募時には自己紹介、志望動機、得意領域などを教えてください。参考資料としてポートフォリオなどを送っていただけると幸いです。
    </div>
    <div class="py-6">上記以外の職種も常時募集しています。ご連絡お待ちしております。</div>
</div>