<div class="py-8 lg:mx-48">
  <h2 class="text-6xl font-bold">形態</h2>
  <hr />
  <div class="py-6">
    <h3 class="py-3 text-3xl font-bold">フリーランス</h3>
    <p class="py-2">
      面談時に、簡単なスキルチェックを経て稼働時間や報酬等をご案内します。
      <br />
      報酬の支払い頻度や金額についてはパートナーの判断のもとでプロジェクトごとに都度決定します。
    </p>
  </div>
  <div class="py-6">
    <h3 class="py-3 text-3xl font-bold">正社員</h3>
    <p class="py-2">勤務条件等は面談時に決定します。</p>
  </div>
</div>
