<div class="mx-auto py-32 text-center">
    K Squadでは多様な専門性・高い自律性をもったメンバーが顧客価値最大化に携わる専門家チームです。
    <br />
    ボードメンバーを中心とし、プロジェクトに応じてジョインするパートナーメンバーでK Squadは構成されています。
    <br />
    <br />
    プロフェッショナルとしての覚悟を持ち、「誰かのためにスキルを活かしていきたい」という意識を持ったモチベーションの高いメンバーを募集しています。
</div>