---
import Postion from './Position.astro'
---

<div class="py-8 lg:mx-48">
    <h2 class="text-6xl font-bold">募集要項</h2>
    <hr />
    <Postion
        position="パートナー"
        tasks={["クライアントとの折衝", "要件定義", "チームのアウトプットに対する品質保証"]}
        skills={["ソフトウェア開発の知識、経験", "自分でビジネスを持つという意識"]}
    />
    <Postion
        position="ソフトウェアエンジニア"
        tasks={["Webシステム・アプリ開発", "UX設計"]}
        skills={["ソフトウェア開発の知識、経験", "OSSプロジェクトへのコミット経験", "技術イベントでの登壇経験"]}
    />
    <Postion
        position="デザイナー"
        tasks={["画像、動画等の各種クリエイティブ制作", "ロゴ制作"]}
        skills={["Photoshop, Illustrator等のソフト使用", "ユーザー目線に立ったUI・UXの設計"]}
    />
</div>