<div class="py-8 lg:mx-48">
  <h2 class="text-6xl font-bold">私たちについて</h2>
  <hr />
  <div class="py-6">
    <p class="py-2 text-xl">
      K
      Squadは、ソフトウェア技術に強みを持つメンバーが集結した、お客さまのデジタルに関する困りごとを解決するギルド型のエンジニアリングファームです。
    </p>
    <p class="py-2 text-xl">
      ソフトウェアエンジニア、デザイナー、ビジネスストラテジストといった多様な専門性を持ったメンバーが所属しており、
      システムやアプリの開発をはじめとして、技術コンサルティング、ITチーム内製化支援、戦略設計など多岐にわたる業務を提供しています。
    </p>
  </div>
</div>
