---
import MemberDetail from "./MemberDetail.astro";
---

<div class="py-8 lg:mx-48">
  <h2 class="text-6xl font-bold">メンバー</h2>
  <hr />
  <div class="grid h-auto grid-cols-1 p-6 sm:grid-cols-2">
    <MemberDetail
      name="Yusuke Kominami"
      nameKana="小南 佑介"
      image="/assets/komi.jpg"
      title="代表社員"
      link="komi.dev"
      description="2020年京都大学理学部卒業。同年ソフトバンク株式会社に入社し、フルスタックエンジニアとして開発に参画。2021年にヘイ株式会社（後にSTORES株式会社に商号変更）に入社し、1人目のデータエンジニアとしてデータ基盤を構築。"
    />
    <MemberDetail
      name="Taichi Kasai"
      nameKana="葛西 太一"
      title="パートナー"
      description="2021年京都大学理学部卒業。学生時代よりLINE社やマネーフォワード社にて開発業務に従事。同年リクルート株式会社に入社し、機械学習を用いたレコメンデーションシステムの開発をリード。2017年度の京都大学理学部首席入学。"
    />
  </div>
</div>
