<h2 class="py-2 text-4xl font-bold">Purpose</h2>
<hr />
<h2 class="flex-col justify-center py-8 text-center text-2xl font-bold lg:flex-row lg:py-24 lg:text-4xl">
  <span class="block lg:inline">誰もがソフトウェア技術を</span>
  <span class="">活用できるようにする</span>
</h2>
<p class="py-1 lg:text-lg">
  インターネットが家庭に普及しスマートフォンが一般的になった現在、企業はユーザーに価値を提供すべく新しいテクノロジーを活用していくことが不可欠です。
</p>
<p class="py-1 lg:text-lg">
  一方で、AIをはじめとして日々進化していくテクノロジーは複雑なインターフェースを持ちながら難解なシステムとなり、ソフトウェア技術を活用するのが難しくなっているのもまた事実です。
</p>
<p class="py-1 lg:text-lg">
  K
  Squadは誰もがソフトウェア技術を活用できるようにし、誰もが真にオリジナリティやクリエイティビティを発揮できるような社会を実現します。
</p>
