---
import { Image } from "astro:assets";
import komi from "../../media/komi.jpg";
---

<div class="py-8 lg:mx-32">
  <h2 class="text-6xl font-bold">代表</h2>
  <hr />
  <div class="grid grid-cols-1 py-6 md:grid-cols-2">
    <div class="relative mx-auto">
      <Image
        class="h-full w-full object-cover"
        src={komi}
        alt="Yusuke Kominami"
        format="webp"
        width={1000}
        height={1000}
      />
    </div>
    <div class="grid grid-cols-1 p-4 md:px-12">
      <div>
        <p class="text-md">代表取締役</p>
        <p class="text-3xl font-bold">小南 佑介</p>
      </div>
      <div class="py-2 text-lg">
        <p class="">
          2020年京都大学理学部卒業。新卒でソフトバンク株式会社に入社し、AIエンジニアとしてAIチャットツールの開発をリード。
          2021年にSTORES株式会社の1人目のデータエンジニアとして参画、データ基盤をゼロから構築しデータドリブンな組織構築に大きく貢献。
          2022年にStreets株式会社を創業し、CTOとしてプロダクト開発、グロースを牽引し、その後ケイスクワッド株式会社設立。
        </p>
        <p></p>
      </div>
    </div>
  </div>
</div>
