---
import Base from "../../layouts/Base.astro";
import TopParticlesBackground from "../../components/ParticlesBackground.astro";

// microCMS呼び出し
import { getBlogs } from "../../library/microcms";
const response = await getBlogs({ fields: ["id", "title", "publishedAt", "heroImage"] });
---

<Base
  title="ブログトップ | K Squad ケイスクワッド株式会社"
  description="K Squadの知見や経験をブログとして発信しています。"
>
  <div class="hidden"><TopParticlesBackground /></div>
  <main class="bg-white bg-opacity-80">
    <div class="mx-6 lg:mx-48">
      <section class="pt-32 lg:px-24">
        <ul>
          {
            response.contents.map((blog) => (
              <li class="grid py-10 lg:grid-cols-2">
                <div class="py-2 text-center lg:text-start">
                  <a href={`/blog/${blog.id}/`}>
                    <time datetime={new Date(blog.publishedAt).toISOString()}>
                      {new Date(blog.publishedAt).toLocaleDateString("ja-jp", {
                        year: "numeric",
                        month: "short",
                        day: "numeric",
                      })}
                    </time>
                    <h4 class="text-2xl">{blog.title}</h4>
                  </a>
                </div>
                <div class="order-first py-2 lg:order-last">
                  <a href={`/blog/${blog.id}/`}>
                    <img class="mx-auto h-36 rounded-lg" src={blog.heroImage.url} alt="" />
                  </a>
                </div>
              </li>
            ))
          }
        </ul>
      </section>
    </div>
  </main>
</Base>
