<h2 class="py-2 text-4xl font-bold">我々がエンジニアリングすること</h2>
<hr />
<div class="py-6">
  <p class="py-1 text-lg">
    ソフトウェア技術に強みを持ったメンバーが集結したK Squad。
    この強みを軸足として開発から組織構築まで、ソフトウェアエンジニアリングとビジネスの両面に提供価値を広げています。
  </p>
  <p class="py-1 text-lg">
    我々の持つ専門性は、プロダクト設計やシステムデザインなどのソフトウェア技術にフォーカスした「技術顧問事業」と、持続的なソフトウェアエンジニアリングを実現する基盤作りとしての「エンジニア組織構築支援事業」に展開されています。
  </p>
</div>
