---
import Base from "../../layouts/Base.astro";
import TopParticlesBackground from "../../components/ParticlesBackground.astro";
---

<Base
  title="お問い合わせ"
  description="お問い合わせいただきありがとうございました。1営業日以内に担当の者より返事をさせていただきます。今しばらくお待ちください。"
  noindex={true}
>
  <div class="hidden"><TopParticlesBackground /></div>
  <main class="bg-white bg-opacity-80">
    <div class="mx-6 lg:mx-48">
      <div class="py-72 lg:py-80">
        <p>お問い合わせいただきありがとうございました。</p>
        <p>担当者が確認した上、1営業日以内に返事をさせていただきます。</p>
      </div>
    </div>
  </main>
</Base>
