---
import Base from "../../layouts/Base.astro";
import TopParticlesBackground from "../../components/ParticlesBackground.astro";
import Service from "../../components/service/Service.astro";
import Business from "../../components/service/Business.astro";
---

<Base
  title="サービス紹介 | K Squad ケイスクワッド株式会社"
  description="K Squadではソフトウェアエンジニアリングへの強みを活かし、技術的な知見をお客さまに提供しながらITをサポートする技術顧問事業、ソフトウェアエンジニアならではの視点をもとに採用支援や評価制度設計を行うエンジニア組織構築支援サービスの2つを展開しています。"
>
  <div class="hidden"><TopParticlesBackground /></div>
  <main class="bg-white bg-opacity-80">
    <div class="mx-6 lg:mx-48">
      <div class="pt-32">
        <Service />
      </div>

      <div class="grid py-8">
        <Business
          name="Tech Advisor"
          nameKana="技術顧問"
          description="私たちは技術顧問として、プロダクト開発、新規事業立ち上げ、システム設計、コスト最適化などクライアントの技術的課題に向き合い、伴走型でビジネスの成長に貢献します。"
          path="/service/tech-advisor"
          image="/assets/services/advisor.svg"
        />
        <Business
          name="Team Building"
          nameKana="エンジニア組織構築支援"
          description="プロダクトが顧客から高い満足度をキープするためには絶え間なくブラッシュアップすることが大切であり、このエンジンとなるのがエンジニア組織です。K Squadは顧客がソフトウェア開発を行える土台作りを支援します。"
          path="/service/team-building"
          image="/assets/services/team-building.svg"
        />
      </div>
    </div>
  </main>
</Base>
