---
import Base from "../layouts/Base.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
---

<Base title={SITE_TITLE} description={SITE_DESCRIPTION}>
  <div class="flex h-screen items-center justify-center">
    <div class="text-center">
      <h1 class="text-3xl">NOT FOUND</h1>
    </div>
  </div>
</Base>
