---
import Base from "../layouts/Base.astro";
import TopParticlesBackground from "../components/ParticlesBackground.astro";
---

<Base title="Page Not Found" description="存在しないページです。">
  <div class="hidden"><TopParticlesBackground /></div>
  <div class="flex h-screen items-center justify-center bg-white bg-opacity-80">
    <div class="text-center">
      <h1 class="text-3xl">NOT FOUND</h1>
    </div>
  </div>
</Base>
