---
import { SITE_TITLE, SITE_DESCRIPTION } from "@config";

import Head from "@components/base/Head.astro";
import Header from "@components/base/Header";
import Footer from "@components/base/Footer.astro";
import type { PostItem } from "@types";

import data from "@blogContents/posts.json"; //@ts-ignore
import BlogCard from "@components/blog/BlogCard.astro";

const posts = data as PostItem[];
const blogs: PostItem[] = posts.sort((a, b) => new Date(b.isoDate).valueOf() - new Date(a.isoDate).valueOf());
---

<!DOCTYPE html>
<html lang="ja">
  <head>
    <Head title={`${SITE_TITLE} | ブログ`} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <Header client:load />
    <main>
      <div>
        {blogs.map((blog) => <BlogCard blog={blog} />)}
      </div>
    </main>
    <Footer />
  </body>
</html>
