---
import { Image } from "@astrojs/image/components";

import { SITE_TITLE, SITE_DESCRIPTION } from "@config";

import Head from "@components/base/Head.astro";
import Header from "@components/base/Header";
import Footer from "@components/base/Footer.astro";

import posts from "../../.contents/posts";
import BlogCard from "@components/blog/BlogCard.astro";

const blogs = posts.sort((a, b) => new Date(b.isoDate).valueOf() - new Date(a.isoDate).valueOf());
---

<!DOCTYPE html>
<html lang="ja">
  <head>
    <Head title={`${SITE_TITLE} | ブログ`} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <Header client:load />
    <main>
      <div>
        {blogs.map((e, i) => <BlogCard blog={e} key={i} />)}
      </div>
    </main>
    <Footer />
  </body>
</html>
