---
import Base from "../layouts/Base.astro";
import TopParticlesBackground from "../components/ParticlesBackground.astro";

import Message from "../components/careers/Message.astro";
import Requirements from "../components/careers/Requirements.astro";
import Contracts from "../components/careers/Contracts.astro";
import Application from "../components/careers/Application.astro";
---

<Base
  title="採用情報 | K Squad ケイスクワッド株式会社"
  description="K Squadではソフトウェア技術に強みを持つメンバーが集まったプロフェッショナル集団です。「誰かのためにスキルを活かしていきたい」という意識を持ったモチベーションの高いメンバーを募集しています。"
>
  <div class="hidden"><TopParticlesBackground /></div>
  <main class="bg-white bg-opacity-80">
    <div class="mx-6">
      <div class="py-4">
        <Message />
      </div>
      <div class="py-4">
        <Requirements />
      </div>
      <div class="py-4">
        <Contracts />
      </div>
      <div class="py-4">
        <Application />
      </div>
    </div>
  </main>
</Base>
