---
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";

import Base from "../layouts/Base.astro";
import TopParticlesBackground from "../components/ParticlesBackground.astro";
import Message from "../components/company/Message.astro";
import About from "../components/company/About.astro";
import CEO from "../components/company/CEO.astro";
import Members from "../components/company/Members.astro";
---

<Base title={SITE_TITLE} description={SITE_DESCRIPTION}>
  <div class="hidden"><TopParticlesBackground /></div>
  <main class="bg-white bg-opacity-80">
    <div class="mx-6 lg:mx-48">
      <div class="py-32">
        <Message />
      </div>
      <div class="py-8">
        <About />
      </div>
      <div class="py-8">
        <CEO />
      </div>
      <div class="py-8">
        <Members />
      </div>
    </div>
  </main>
</Base>
