---
import { SITE_TITLE, SITE_DESCRIPTION } from "@config";

import Head from "@components/base/Head.astro";
import Header from "@components/base/Header";
import Footer from "@components/base/Footer.astro";
import Container from "@components/base/Container.astro";
---

<!doctype html>
<html lang="ja">
  <head>
    <Head title={`${SITE_TITLE} | お問い合わせ`} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <!-- Google Tag Manager (noscript) -->
    <noscript
      ><iframe
        src="https://www.googletagmanager.com/ns.html?id=GTM-WD88TGDP"
        height="0"
        width="0"
        style="display:none;visibility:hidden"></iframe></noscript
    >
    <!-- End Google Tag Manager (noscript) -->
    <Header client:load />
    <Container>
      <div class="py-10">お仕事のお問い合わせや講演依頼については以下からお問い合わせください。</div>
      <iframe
        id="inquiry"
        class="w-full overflow-hidden"
        height="1000"
        allowfullscreen
        src="https://docs.google.com/forms/d/e/1FAIpQLSf_t29aMV3GleALm1rza3Se9Xpk0r0931-cf9_CoNFMOGzp1w/viewform?embedded=true"
      >
        読み込んでいます…
      </iframe>
    </Container>
    <Footer />
  </body>
</html>
