---
import { SITE_TITLE, SITE_DESCRIPTION } from "@config";

import Head from "@components/base/Head.astro";
import Header from "@components/base/Header";
import Footer from "@components/base/Footer.astro";
import Container from "@components/base/Container.astro";

import Top from "@components/home/Top.astro";
import Customers from "@components/home/Customers.astro";
import News from "@components/home/News.astro";
import Service from "@components/home/Service.astro";
import Message from "@components/home/Message.astro";
---

<!doctype html>
<html lang="ja">
  <head>
    <Head title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <!-- Google Tag Manager (noscript) -->
    <noscript
      ><iframe
        src="https://www.googletagmanager.com/ns.html?id=GTM-WD88TGDP"
        height="0"
        width="0"
        style="display:none;visibility:hidden"></iframe></noscript
    >
    <!-- End Google Tag Manager (noscript) -->
    <Header client:load />
    <main>
      <Top />
      <Container>
        <Message />
        <News />
        <Service />
        <Customers />
      </Container>
    </main>
    <Footer />
  </body>
</html>
