---
import Base from "../layouts/Base.astro";
import TopParticlesBackground from "../components/ParticlesBackground.astro";
import LetterText from "../components/home/LetterText.astro";
import News from "../components/home/News.astro";
import AboutUs from "../components/home/AboutUs.tsx";
import Service from "../components/home/Service.tsx";
import Partners from "../components/home/Partners.astro";
---

<Base
  title="K Squad ケイスクワッド株式会社 ソフトウェア技術顧問カンパニー"
  description="ケイスクワッド株式会社は技術顧問を主要事業とするITのプロフェッショナル集団です。業界トップクラスのエンジニアがお客さまのWebに関するお困りごとを解決します。開発から広告、IT人材採用まで全方位的にサポートしますのでお気軽にお問い合わせください。"
>
  <div class="hidden"><TopParticlesBackground /></div>
  <div class="h-screen">
    <div class="absolute bottom-36 left-0 right-0 w-full px-2 lg:bottom-16">
      <LetterText />
    </div>
  </div>

  <main class="z-20 bg-white bg-opacity-80">
    <div class="md:mx-32 xl:mx-64 2xl:mx-96">
      <section class="py-10">
        <News />
      </section>
      <section class="py-10">
        <AboutUs client:load />
      </section>
      <section class="py-10">
        <Service client:load />
      </section>
      <section class="py-10">
        <Partners />
      </section>
    </div>
  </main>
</Base>
