---
import Base from "../layouts/Base.astro";
import TopParticlesBackground from "../components/ParticlesBackground.astro";
import LetterText from "../components/home/LetterText.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
import News from "../components/home/News.astro";
import AboutUs from "../components/home/AboutUs.tsx";
import Service from "../components/home/Service.tsx";
import Partners from "../components/home/Partners.astro";
---

<Base title={SITE_TITLE} description={SITE_DESCRIPTION}>
  <div class="hidden"><TopParticlesBackground /></div>
  <div class="h-screen">
    <div class="absolute bottom-36 left-0 right-0 w-full px-2 lg:bottom-16">
      <LetterText />
    </div>
  </div>

  <main class="z-20 bg-white bg-opacity-80">
    <div class="md:mx-32 xl:mx-64 2xl:mx-96">
      <section class="py-10">
        <News />
      </section>
      <section class="py-10">
        <AboutUs client:load />
      </section>
      <section class="py-10">
        <Service client:load />
      </section>
      <section class="py-10">
        <Partners />
      </section>
    </div>
  </main>
</Base>
