---
const today = new Date();
---

<footer class="border-t border-neutral-200 bg-neutral-50">
  <div class="mx-auto flex flex-col items-center justify-around p-5 lg:flex-row">
    <a href="/" class="mb-10 leading-tight lg:mb-0 lg:pr-4">
      <img src="/logos/ksquad_logo.svg" class="h-9" alt="K Squad" />
    </a>
    <div class="flex flex-col items-center justify-center lg:flex-row lg:pl-4">
      <a
        href="/contact"
        class="mx-3 mb-6 border border-black bg-black px-12 py-3 font-bold text-white transition-colors duration-200 hover:bg-white hover:text-black lg:mb-0 lg:px-8"
      >
        お問い合わせ
      </a>
      <a href="/careers" class="mx-3 font-bold hover:underline"> 採用情報</a>
    </div>
  </div>
  <p class="py-5 text-center">
    &copy; {today.getFullYear()} K Squad LLC. All rights reserved.
  </p>
</footer>
