---
import { Image } from "astro:assets";

const clients = [
  "stores.png",
  "wellness-kit.png",
  "aiful.png",
  "meijitosho.png",
  "tos.png",
  "renoarq.png",
  "sony.png",
  "aixtal.webp",
]
  .sort()
  .map((e) => `/assets/clients/${e}`);
---

<div class="grid grid-cols-2 justify-center lg:grid-cols-4">
  {
    clients.map((c) => (
      <div class="m-auto p-8">
        <Image src={c} height={800} width={800} alt={c} />
      </div>
    ))
  }
</div>
