<h2 class="my-6 px-2 py-10 text-center text-xl font-bold md:text-3xl">
  Web業務をやろうとしたとき、<br class="lg:hidden" />誰かに相談したくなりませんか？
</h2>

<ul class="mx-10 list-disc py-5 text-lg sm:mx-32">
  <li class="list-item md:p-2">システム発注に予算がいくら必要なのか</li>
  <li class="list-item md:p-2">Web広告はまず何を始めたらいいのか</li>
  <li class="list-item md:p-2">そもそもWebのシステムとはどうなっているのか</li>
  <li class="list-item md:p-2">普段やってるこの業務は自動化できないのか</li>
  <li class="list-item md:p-2">社内にエンジニアが存在しない</li>
</ul>
<div class="m-8 rounded-xl bg-slate-200 lg:m-16">
  <p class="mx-auto w-fit p-10 md:text-lg">
    こうした悩みは、<br class="sm:hidden" />技術顧問が解決します。
  </p>
</div>
