---
import { Image } from "@astrojs/image/components";
---

<div class="relative h-screen w-screen">
  <Image
    src="/assets/top.jpg"
    alt=""
    class="absolute inset-x-0 m-auto h-screen"
    format="webp"
    width={2000}
    height={2000}
    fit="fill"
  />
  <div
    class="absolute mx-auto flex h-screen w-screen items-center justify-center px-2 text-4xl font-bold md:text-6xl"
    style={{
      fontFamily: "ヒラギノ角ゴ Pro W3,Hiragino Kaku Gothic Pro, メイリオ, Meiryo, sans-serif",
    }}
  >
    技術を通して、価値を提供していく。
  </div>
</div>
