---
import { Image } from "@astrojs/image/components";
import { members } from "@feedsCollector/members";
import type { PostItem } from "@types";
type Props = {
  blog: PostItem;
};

function getMemberById(id: string) {
  return members.find((member) => member.id === id);
}
const { blog } = Astro.props;
const member = getMemberById(blog.authorId);
---

<div class="relative grid grid-cols-1 py-6 md:grid-cols-2 md:px-48 xl:px-96">
  <div class="relative order-first md:order-last">
    <Image
      class="mx-auto aspect-video h-48 rounded-lg object-cover min-h-40"
      src={`${blog.ogpPath}`}
      width={340}
      height={200}
      alt={blog.title}
    />
  </div>
  <div class="relative left-0 order-last py-6 md:order-first">
    <time>{blog.isoDate.split("T")[0]}</time>
    <h2 class="py-3 font-bold">{blog.title}</h2>
    {
      member && (
        <div class="flex-node md:absolute md:bottom-0 md:left-0 ">
          <p class="text-gray-700">{member.id}</p>
        </div>
      )
    }
  </div>
</div>
