---
import { Image } from "@astrojs/image/components";
import { members } from "@feedsCollector/members";
import type { PostItem } from "@types";
type Props = {
  blog: PostItem;
};

function getMemberById(id: string) {
  return members.find((member) => member.id === id);
}
const { blog } = Astro.props;
const member = getMemberById(blog.authorId);
---

<div class="relative grid py-6 md:grid-cols-2 md:px-48 xl:px-96">
  <div class="grid grid-cols-12 md:order-last">
    <div class="relative col-span-10 col-start-2 row-span-1">
      <Image
        class="aspect-video h-48 rounded-lg object-cover min-h-40"
        src={`${blog.ogpPath}`}
        width={340}
        height={200}
        alt={blog.title}
      />
    </div>
  </div>

  <div class="grid grid-cols-12 md:order-first">
    <div class="relative col-span-10 col-start-2 py-6 md:left-0">
      <time>{blog.isoDate.split("T")[0]}</time>
      <h2 class="py-3 font-bold">{blog.title}</h2>
      {
        member && (
          <div class="md:absolute md:bottom-0 md:left-0 ">
            <p class="text-gray-700">{member.id}</p>
          </div>
        )
      }
    </div>
  </div>
</div>
