---
import { Image } from "@astrojs/image/components";
import { members } from "@feedsCollector/members";
import { PostItem } from "@types";
type Props = {
  blog: PostItem;
};

function getMemberById(id: string) {
  return members.find((member) => member.id === id);
}
const { blog } = Astro.props;
const member = getMemberById(blog.authorId);
---

<div class="grid grid-cols-1 py-6 md:relative md:grid-cols-2 md:px-48 xl:px-96">
  <div class="oder-first relative md:order-last">
    <Image
      class="mx-auto aspect-video h-48 rounded-lg object-cover"
      src={`${blog.ogpPath}`}
      width={340}
      height={200}
      alt={blog.title}
    />
  </div>
  <div class="relative order-last mx-auto w-80 content-center py-6 md:left-0 md:order-first md:px-0 xl:px-6">
    <time>{blog.isoDate.split("T")[0]}</time>
    <h2 class="py-3 font-bold">{blog.title}</h2>
    <div class="flex-node absolute md:left-0 md:bottom-0 xl:bottom-6 xl:left-12">
      <p class="text-gray-700">{member.id}</p>
    </div>
  </div>
</div>
